*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */

body{
    display: block;
    margin-top: 2.5rem;
}

.title-projects{
    font-size: 3rem;
}

.projects{
    /* margin: auto; */
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.project{
    width: 86vw;
    height: 500px;
    margin-top: 50px;
    /* padding: 30px; */

    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-content: initial;

    scroll-snap-type: x mandatory;
    -webkit-transform-origin-x: initial;
    overscroll-behavior: inherit;
    
    overflow: hidden;
}

div.content{
    display: block;
    width: 35rem;
    height: 23rem;
    margin: 1rem;
    padding: 2.5rem;
    border: solid 2px #4970EC;
    border-radius: 2rem;

    /* transform: translateX(150px); */
}



a.github{
    display: block;
    width: 2.5rem;
    margin: 1rem;
    margin-left: 25rem;
    cursor: pointer;
    
}


.title-project{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.9rem;
    margin-bottom: 1.5rem;
}

.text-project{
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 50px;
}

.content .language{
    margin-block: 1.5rem;
    margin-left: -1.5rem;
    color: #8892B0;
    text-align: justify;
}



.left, .right{
    width: 7rem;
    height: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

@media (min-width: 375px) and (max-width: 425px){

    body{
        display: block;
        margin-top: 1rem;
    }

    .title-projects{
        font-size: 2.5rem;
    }
    .projects .left .right{
        width: 15%;
    }

    .project{
        width: 100%; 
    }



}