*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    margin-top: 25px;
}

.title-projects{
    font-size: 30px;
}

.projects{
    /* margin: auto; */
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.project{
    width: 86vw;
    height: 500px;
    margin-top: 50px;
    /* padding: 30px; */

    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-content: initial;

    scroll-snap-type: x mandatory;
    -webkit-transform-origin-x: initial;
    overscroll-behavior: inherit;
    
    overflow: hidden;
}

div.content{
    width: 350px;
    height: 230px;
    margin: 10px;
    padding:25px;
    border: solid 2px #4970EC;
    border-radius: 20px;

    /* transform: translateX(150px); */
}



a.github{
    display: block;
    width: 25px;
    margin: 10px;
    margin-left: 250px;
    cursor: pointer;
    
}


.title-project{
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 15px;
}

.text-project{
    font-size: 15px;
    line-height: 18px;
    padding: 50px;
}

.content .language{
    margin-block: 15px;
    margin-left: -15px;
    color: #8892B0;
    text-align: justify;
}



.left, .right{
    width: 70px;
    height: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}